body{
  background-color: #bbdefb;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailBox {
  background-color: bisque;
  width: 80%;
  height: 80%;
}

.top {
  width: 100%;
  display: flex;
}

.top-left {
  width: 50%;
  height: 400px;
}

.top-right {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 400px;
}

.title {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expenditureBox {
  background-color: azure;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.7rem;
  padding-left: 20px;
}

.btnBox{
  display: flex;
  width: 100%;
}

.modifyBtn, .removeBtn{
  width: 50%;
}


.totalExpense{
  font-size: 2.5rem;
}

.bottom {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  margin-bottom: 20px;
}

.story{
  background-color: bisque;
  font-size: 1.3rem;
  padding: 20px;
}
