body {
  background-color: #bbdefb;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.detail_container {
  background-color: bisque;
  width: 80%;
  height: 80%;
}

.top {
  width: 100%;
  height: 400px;
  background-color: khaki;
}

.top_top {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.share_username,
.share_title {
  width: 100%;
  font-size: 1.4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_username {
  background-color: antiquewhite;
}

.top_bottom {
  width: 100%;
  height: 80%;
  display: flex;
}

.detail_img {
  width: 100%;
  height: 100%;
}

.top_bottom_left {
  width: 50%;
}

.top_bottom_right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.detail_expenditure {
  background-color: azure;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.7rem;
  padding-left: 20px;
}

.btn_container {
  width: 100%;
  height: 15%;
  display: flex;
}

.btn_container > button {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.btn_container > button:hover {
  cursor: pointer;
}

.fa-xmark,
.fa-pen-to-square {
  font-size: 20px;
  margin-left: 8px;
}

.btn_container > button > img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.expenditure_flex {
  display: flex;
  margin-bottom: 20px;
}

.total_expenditure {
  font-size: 2.5rem;
}

.bottom {
  width: 100%;
  height: 43%;
}

.detail_story {
  background-color: bisque;
  font-size: 1.3rem;
  padding: 20px;
}

.review_container {
  width: 80%;
  height: 20%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.review_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.review_cnt {
  width: 50%;
  height: 25%;
  font-size: 2rem;
  margin-top: 20px;
}

.review_like_cnt {
  width: 50%;
  height: 25%;
  font-size: 2rem;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3px;
}

.review_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  margin-bottom: 20px;
}

.review_value {
  width: 80%;
  height: 80px;
  font-size: 2rem;
}

.save_btn {
  width: 15%;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
}

.review_field {
  display: flex;
}

li {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  margin-right: 10px;
}

.review {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  margin-left: 2rem;
}

.writer,
.time {
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  width: 12%;
}

.review_delete_btn {
  border-radius: 20px;
  border: none;
  width: 5%;
  height: 50px;
}

.review_delete_btn:hover,
.save_btn:hover {
  cursor: pointer;
  background-color: aquamarine;
}
