body {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: rgb(196, 214, 208);
  width: 1200px;
  height: 600px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.login-absolute {
  position: absolute;
  /* z-index: 1; */
  /* opacity 1을 제거를 해줬기 때문에 z-index는 필요가 없다. */
}

.show-login {
  animation: loginShow 1.5s forwards;
}

@keyframes loginShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.login-screen {
  width: 50%;
  height: 100%;
}

.show-login-form {
  animation: loginFormShow 1.5s forwards;
}

@keyframes loginFormShow {
  0% {
    transform: translateX(600px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hidden-login-form {
  animation: loginFormHidden 1.5s forwards;
}

@keyframes loginFormHidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(600px);
    opacity: 0.001;
    visibility: hidden;
  }
}

#login-form {
  width: 100%;
  height: 100%;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.로그인 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-field {
  width: 300px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-field label {
  background-color: #363a40;
  border: 1px solid black;
  border-right: none;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50px;
}

.login-field input {
  border: 1px solid black;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  width: 230px;
  height: 46px;
  background-color: #3a4048;
}

.emailImg {
  width: 35px;
  height: 35px;
}

.pwImg{
  width: 25px;
  height: 25px;
}

.login-field input[type="email"]:focus,
.login-field input[type="email"]:hover,
.login-field input[type="password"]:hover,
.login-field input[type="password"]:focus {
  background-color: #45505d;
}

.account-check {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
}

.signupBtn {
  color: black;
  margin: 0px 5px 0px 15px;
}

.signupBtn:hover {
  cursor: pointer;
}

.login-btn {
  width: 276px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.login-btn:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.anotherLoginMethod {
  position: relative;
  border-top: 1px solid black;
}

.or {
  position: absolute;
  left: 140px;
  top: -14px;
  color: black;
  background-color: rgb(196, 214, 208);
  padding: 5px;
}

.login-btn.kakao {
  margin-top: 30px;
  background-color: yellow;
}

.login-btn.google {
  background-color: #f44336;
}

.login-bg {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.show-login-bg {
  animation: loginBgShow 1.5s forwards;
}

@keyframes loginBgShow {
  0% {
    transform: translateX(-600px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 1;
  }
}

.hidden-login-bg {
  animation: loginBgHidden 1.5s forwards;
}

@keyframes loginBgHidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: translateX(-600px);
    opacity: 0.001;
    visibility: hidden;
  }
}