video {
  position: relative;
  top: 3px;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#select_date {
  width: 46%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#date_to {
  margin-left: 10px;
}

#tilde {
  font-size: 4rem;
  text-align: center;
  margin-left: 10px;
}

#select_city {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type="date"] {
  background-color: #0080ff;
  color: #ffffff;
  padding: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 70px;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

#state_container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #0080ff;
}

#state {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  top: -24px;
  z-index: 3;
  appearance: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0080ff;
}

#state:hover {
  cursor: pointer;
}

#state option {
  background: #0080ff;
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
}

.iconArrow {
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
  border-left: 2px solid #0080ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.from_inRorate {
  animation-name: inRorate;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes inRorate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.from_outRorate {
  animation-name: outRorate;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes outRorate {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

#city_container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #0080ff;
}

#city {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  top: -24px;
  z-index: 3;
  appearance: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0080ff;
}

#city:hover {
  cursor: pointer;
}

#city option {
  background: #0080ff;
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
}

.iconArrow {
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 1;
  width: 25%;
  height: inherit;
  border-left: 2px solid #0080ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.to_inRorate {
  animation-name: inRorate;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes inRorate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.to_outRorate {
  animation-name: outRorate;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes outRorate {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

#save_btn {
  border: none;
  border-radius: 5px;
  background-color: #0080ff;
  width: 16.5%;
  height: 4rem;
  font-size: 2rem;
}

#save_btn:hover {
  cursor: pointer;
}

/* #trip_form {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */
/* -------------------------------------------------- */
#trip_form {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5rem;
  opacity: 1;
}

.add_trip {
  position: absolute;
}

.add_trip:hover {
  cursor: pointer;
}

.hidden_add_trip {
  display: none;
}

/* .hidden_where {
  display: none;
} */

/* .hiddenLeave {
  display: none;
} */

/* visibility: hidden;은 모습만 사라지기 */
/* display: none;은 자체가 사라지기 */
.visibility_city {
  visibility: hidden;
}

.show_trip_place {
  animation-name: show_trip_place;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes show_trip_place {
  0% {
    transform: translateY(30px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100;
  }
}

.trip_place {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden_date {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------------------------------- */

.main_container {
  width: 100%;
  height: 70vh;
  display: flex;
}

#map {
  width: 50%;
  height: 100%;
}
#city_container {
  margin-left: 10px;
}

#boxbox {
  width: 50%;
  height: 100%;
  background-color: cornflowerblue;
}

ul {
  width: 50%;
}

li {
  height: 15%;
  border: 3px solid skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.cursor:hover {
  cursor: pointer;
}

.deleteBtn:hover {
  cursor: pointer;
}

footer {
  background-color: #bbdefb;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 8rem;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #trip_form {
    width: 100%;
  }

  input[type="date"] {
    width: 150px;
    height: 35px;
  }

  #tilde {
    font-size: 3rem;
  }

  #state_container {
    height: 65px;
  }

  #city_container {
    height: 65px;
  }

  #state {
    font-size: 1.3rem;
  }

  #city {
    font-size: 1.3rem;
  }
}
