.header {
  width: 100%;
  height: 80vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-form {
  display: flex;
}

.main {
  width: 100%;
  height: 80vh;
  display: flex;
}

#map {
  width: 50%;
  height: 80%;
}

#saveValueBox {
  width: 50%;
  height: 80%;
  display: flex;
}

#cityBox {
  margin-left: 10px;
}
