body {
  background-color: #bbdefb;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  width: calc(100% / 2);
  font-size: 2rem;
  padding-top: 20px;
}

.myStory-img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  transition: all 1s ease-in-out;
}

.myStory-img:hover {
  transform: scale(1.1);
}

p:hover {
  cursor: pointer;
}
