.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
  background-color: #8aacc8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px black;
}

.nav-left {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  height: 100%;
}

.nav-logo {
  display: flex;
  margin-left: 30px;
}

.fa-atlassian {
  font-size: 1.5rem;
}

.nav-logo:hover {
  cursor: pointer;
}

.logo-name-box {
  margin-left: 5px;
  font-size: 1.15rem;
}

.logo-name {
  font-size: 1.5rem;
}

.hidden-보러 {
  visibility: hidden;
}

.show보러 {
  font-size: 1.25rem;
}

.show보러:hover {
  cursor: pointer;
}

#보러 {
  margin-right: 15px;
  color: lightyellow;
}

#보러1 {
  color: lightgrey;
}

.nav-btn {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* input type button은 cursor 값이 default 이기 때문에 hover할 때가 아닌 그냥 cursor pointer를 줘야 한다. */
.login-btn {
  margin-right: 15px;
  cursor: pointer;
  width: 95px;
  height: 36px;
  font-size: 1rem;
}

.myInfo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.myInfo:hover {
  cursor: pointer;
}

.theme-btn {
  width: 150px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-img {
  width: 30px;
  height: 30px;
}

.theme-name {
  width: 100%;
  font-size: 1rem;
}

.showMyInfo {
  transform-origin: center top;
  width: 15rem;
  height: 12rem;
  background-color: rgb(245, 246, 250);
  position: fixed;
  z-index: 200;
  right: 180px;
  top: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  box-shadow: rgb(0 0 0 / 50%) 0px 2px 25px;
  /* visibility는 문서의 레이아웃을 변경하지 않고 요소를 보이거나 숨깁니다. */
}

.showMyInfo::before {
  content: "";
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 0.9rem solid rgb(245, 246, 250);
  position: absolute;
  top: -0.9rem;
  right: 1.2rem;
}

.hover::before {
  border-bottom: 0.9rem solid #8aacc8;
}

.infoSelect_profile {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.infoSelect_likeList {
  width: 100%;
  height: 100%;
}

.profile {
  color: rgb(38, 38, 38);
  height: 100%;
  width: 100%;
  font-size: 1rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.likeList {
  color: rgb(38, 38, 38);
  border-radius: 0px;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.logout {
  color: rgb(38, 38, 38);
  border-radius: 0px 0px 10px 10px;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.infoSelect_profile:hover,
.infoSelect_likeList:hover,
.logout-btn:hover {
  cursor: pointer;
  background-color: #8aacc8;
}

.logout-btn {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.showMyInfo:first {
  display: flex;
  justify-content: flex-start;
}

.showinfo {
  visibility: visible;
  animation-name: showMyInfo;
  animation-duration: 0.5s;
}

@keyframes showMyInfo {
  0% {
    transform: scaleY(0) translateZ(0px);
  }
  100% {
    transform: scaleY(1) translateZ(0px);
  }
}

/* .hiddeninfo {
  visibility: visible;
} */

.hidden {
  animation-name: hiddenMyInfo;
  animation-duration: 0.5s;
}

@keyframes hiddenMyInfo {
  0% {
    transform: scaleY(1) translateZ(0px);
  }
  100% {
    transform: scaleY(0) translateZ(0px);
    visibility: visible;
  }
}

@media screen and (max-width: 1280px) {
  .nav-btn {
    width: 40%;
  }
}
