.nav_container {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
  background-color: #8aacc8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px black;
}

.nav_left {
  display: flex;
  align-items: center;
  width: 35%;
  height: 100%;
}

.nav_logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.fa-cart-flatbed-suitcase {
  font-size: 2.3rem;
}

.nav_logo:hover {
  cursor: pointer;
}

.logo_name {
  display: flex;
  align-items: baseline;
  font-size: 1.5rem;
  position: relative;
  top: 2px;
}

.logo_name_emphasis {
  margin-left: 5px;
  font-size: 2rem;
}

.nav_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 100%;
}

.nav_menu {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  width: 55%;
  margin-left: 7rem;
}

#myStory,
#shareStory {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  color: lightyellow;
}

#myStory {
  margin-left: 4rem;
}

.nav_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  height: 100%;
  margin-right: 2rem;
}

/* input type button은 cursor 값이 default 이기 때문에 hover할 때가 아닌 그냥 cursor pointer를 줘야 한다. */
.login_btn {
  margin-right: 15px;
  cursor: pointer;
  width: 95px;
  height: 65%;
  font-size: 1rem;
}

.myInfo {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.myInfo:hover,
.theme_btn:hover {
  cursor: pointer;
}

.theme_btn {
  width: 11rem;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme_img {
  width: 30px;
  height: 30px;
}

.theme_name {
  width: 100%;
  font-size: 1rem;
}

.myInfo_menu {
  transform-origin: center top;
  width: 15rem;
  height: 12rem;
  background-color: rgb(245, 246, 250);
  position: fixed;
  z-index: 200;
  right: 216px;
  top: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  box-shadow: rgb(0 0 0 / 50%) 0px 2px 25px;
  /* visibility는 문서의 레이아웃을 변경하지 않고 요소를 보이거나 숨깁니다. */
}

.myInfo_menu::before {
  content: "";
  border-left: 0.7rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 0.9rem solid rgb(245, 246, 250);
  position: absolute;
  top: -0.9rem;
  right: 1.4rem;
}

.before_color::before {
  border-bottom: 0.9rem solid #8aacc8;
}

.menu_profile {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu_likeList {
  width: 100%;
  height: 100%;
}

.profile,
.likeList,
.logout {
  color: rgb(38, 38, 38);
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  font-size: 1rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.menu_profile:hover,
.menu_likeList:hover,
.menu_logout_btn:hover {
  cursor: pointer;
  background-color: #8aacc8;
}

.menu_logout_btn {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.myInfo_menu:first {
  display: flex;
  justify-content: flex-start;
}

.show_myInfo_menu {
  visibility: visible;
  animation-name: show_myInfo_menu;
  animation-duration: 0.5s;
}

@keyframes show_myInfo_menu {
  0% {
    transform: scaleY(0) translateZ(0px);
  }
  100% {
    transform: scaleY(1) translateZ(0px);
  }
}

.hidden_myInfo_menu {
  animation-name: hidden_myInfo_menu;
  animation-duration: 0.5s;
}

@keyframes hidden_myInfo_menu {
  0% {
    transform: scaleY(1) translateZ(0px);
  }
  100% {
    transform: scaleY(0) translateZ(0px);
    visibility: visible;
  }
}
