<<<<<<< HEAD
main {
=======
main{
>>>>>>> 9ec0f26fe86663d82d56108eb6b2ee12ba494fe9
  background-color: coral;
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
ul {
=======
ul{
>>>>>>> 9ec0f26fe86663d82d56108eb6b2ee12ba494fe9
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  margin-bottom: 30px;
}

.savedDiv {
  width: 100%;
}

.inputDiv {
  width: 100%;
}

div input[type="text"] {
  width: 70%;
  height: 50px;
}
=======
ul > div{
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 0px;
  margin-bottom: 30px;
  background-color: aquamarine;
}

input[type=text]{
  width: 70%;
  height: 50px;
}

form{
  display: flex;
}
>>>>>>> 9ec0f26fe86663d82d56108eb6b2ee12ba494fe9
